@mixin GeneralFont(){
    --font-family: "Manrope", sans-serif;
    --second-family: "SF Pro Text", sans-serif;
    --third-family: "Inter", sans-serif;
    --font3: "JetBrains Mono", sans-serif;
    --font4: "Arial", sans-serif;
    --font5: "Prosto One", sans-serif;
    --font6: "Source Sans Pro", sans-serif;
    --font7: "DM Sans", sans-serif;
}